/* @import url('https://fonts.cdnfonts.com/css/gentium-basic'); */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.cdnfonts.com/css/priyati");
@import url("https://fonts.cdnfonts.com/css/vogue");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap");
/* * {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: none;
} */

/* html {
    font-size: 62.5%;
    overflow-x: hidden;
} */

/* .head .menulist li a.active {
    color: #960021;
} */

#wrapper {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
}

header {
    width: 100%;
}

#head {
    width: 100%;
    /* height: 3855px; */
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    /* background: lavenderblush; */
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#logo img {
    width: 150px;
    height: auto;
}

.box-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu-list {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

#menu-list li {
    list-style: none;
    padding-top: 25px;
    float: left;
    vertical-align: baseline;
}

#menu-list li a {
    font-family: LINESEED;
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#menu-list li a:hover {
    color: #960021;
}

.login {
    font-size: 15px;
    font-family: LINESEED;
    color: black;
    text-decoration: none;
    margin-left: 40px;
}

.login:hover {
    color: #960021;
    text-decoration: none;
}

.register {
    font-size: 15px;
    font-family: LINESEED;
    color: black;
    text-decoration: none;
    margin-left: 40px;
}

.register:hover {
    color: #960021;
    text-decoration: none;
}

/* a:hover,
a:active {
    text-decoration: underline overline;
    color: #960021;
} */

/* .fa-user {
    font-size: 20px;
    color: black;
    margin: 20px 0 0 30px;
}

.fa-user:hover {
    cursor: pointer;
    color: #960021;
    transition: .3s;
} */

.dropbtn {
    background: none;
    border: none;
    margin-left: 80px;
}

.dropbtn i {
    background: none;
    color: black;
    /* padding: 16px; */
    font-size: 20px;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
}

.dropdown-content a {
    font-size: 15px;
    font-family: LINESEED;
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}

/* .dropdown a:hover {
    background-color: #ddd;
} */

/* .show {
    display: block;
} */

/* end header */

.event button {
    border-radius: 50px;
    border: none;
    font-family: LINESEED;
    font-size: 16px;
    color: #000;
    margin: 50px 0 0 15px;
    background: none;
}

.event button:hover {
    /* background-color: #960021; */
    color: #960021;
    transition: 0.3s;
    cursor: pointer;
}

/* .fa-arrow-left {
    font-size: 16px;
    color: #000;
    margin-left: 105px;
} */

/* .fa-arrow-left:hover {
    color: #960021;
    transition: .3s;
    cursor: pointer;
} */

.create_post {
    display: flex;
    align-items: center;
    height: auto;
    padding: 20px;
}

.create_post label {
    font-family: LINESEED;
    font-size: 14px;
    color: #000;
}

.create_post textarea {
    width: 458px;
    height: 80px;
    font-family: LINESEED;
    font-size: 14px;
    padding: 10px;
}

.create_post input {
    height: 30px;
    font-family: LINESEED;
    font-size: 16px;
    /* margin: 10px 0 0 10px; */
}

.create_post hr {
    margin: 20px;
}

.create_post button {
    height: 30px;
    font-family: LINESEED;
    font-size: 16px;
    background-color: #960021;
    border: none;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.chooseimg h5 {
    font-family: LINESEED;
    font-size: 14px;
    color: #960021;
}

.work {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.work .post:first-child {
    height: 350px;
    grid-column: span 3;
    border-radius: 20px;
    background-color: #960021;
}

.work .post {
    grid-column: span 1;
}

.work .post.more::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.work .post img{
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.topic-pfupload img {
    object-fit: cover;
    margin-top: 30px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px white;
}

.profile p {
    font-family: LINESEED;
    font-size: 24px;
    text-align: center;
}

.star i {
    font-size: 35px;
    color: #960021;
}

.uploadbtn {
    width: 200px;
    height: 60px;
    font-family: LINESEED;
    font-weight: bold;
    font-size: 20px;
    color: #960021;
    border: solid 1px #960021;
    background: none;
    border-radius: 50px;
    margin: 20px;
}

.uploadbtn:hover {
    cursor: pointer;
    background-color: #960021;
    color: white;
}

.box-discrip {
    font-family: LINESEED;
    font-size: 20px;
    color: black;
}

.profile h1 {
    font-family: LINESEED;
    font-size: 20px;
    color: black;
}

.profile h2 {
    font-family: LINESEED;
    font-size: 20px;
    color: black;
}

.profile h3 {
    font-family: LINESEED;
    font-size: 20px;
    color: black;
}

.profile h4 {
    font-family: LINESEED;
    font-size: 20px;
    color: black;
}

.profile-bg {
    aspect-ratio: 4/1;
    width: 100%;
    object-fit: cover;
}

.abtme {
    /* flex: 0 1 300px;
    min-width: 0; */
    margin-top: -80px;
}

.content-right {
    flex: 1;
    min-width: 0;
}

.abtme p {
    font-family: LINESEED;
    font-weight: bold;
    font-size: 24px;
    color: black;
    margin-top: 20px;
}

hr {
    border: 0.5px solid #bbb;
}

.fa-cake-candles {
    font-size: 20px;
    color: black;
}

.abtme h1 {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 16px;
    color: black;
}

.fa-location-dot {
    font-size: 20px;
    color: black;
}

.abtme h2 {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 16px;
    color: black;
}

.fa-envelope {
    font-size: 20px;
    color: black;
}

.abtme h3 {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 16px;
    color: black;
}

.fa-phone {
    font-size: 20px;
    color: black;
}

.abtme h4 {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 16px;
    color: black;
}

.abtme h5 {
    font-family: LINESEED;
    font-weight: bold;
    font-size: 24px;
    color: #960021;
}

.abtme h6 {
    font-family: LINESEED;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.abtme h7 {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 20px;
    color: black;
}

.abtme h8 {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 20px;
    color: black;
}

.abtme h9 {
    font-family: LINESEED;
    font-weight: bold;
    font-size: 12px;
    color: #960021;
}

.fa-facebook {
    font-size: 20px;
    color: black;
    float: left;
}

.fa-instagram {
    font-size: 20px;
    color: black;
    float: left;
}

.fa-x-twitter {
    font-size: 20px;
    color: black;
}

.box-comment {
    display: flex;
    gap: 20px;
}

/* .wrap-content {
    max-width: 1100px;
    margin: 0 auto;
} */

#content {
    display: flex;
    gap: 40px;
}

@media (max-width: 991.98px) {
    #content {
        flex-direction: column;
        gap: 0px;
    }
}

#btnteam {
    height: 80px;
    cursor: pointer;
    display: flex;
    gap: 20px;
    padding: 16px 0;
}

.box-fl {
    display: flex;
    gap: 10px;
}

.born {
    display: flex;
    gap: 20px;
}

.address {
    display: flex;
    gap: 20px;
}

.box-role {
    display: flex;
    flex-direction: column;
}

.role {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mail {
    display: flex;
    gap: 20px;
}

.phone {
    display: flex;
    gap: 20px;
}

.fa-circle-info {
    margin-left: 100px;
}

.social {
    display: flex;
    gap: 20px;
}

.box-pf {
    display: flex;
    align-items: center;
    gap: 20px;
}

.work-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnjointeam {
    height: 80px;
    border: solid 1px black;
    border-radius: 50px;
    background-color: white;
    padding: 25px;
}

.btnjointeam a {
    font-family: LINESEED;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

.btnjointeam i {
    font-size: 20px;
    color: #000;
    padding-right: 20px;
}

.btnlastpj {
    height: 80px;
    border: solid 1px black;
    border-radius: 50px;
    background-color: white;
    padding: 25px;
}

.btnlastpj a {
    font-family: LINESEED;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

.btnlastpj i {
    font-size: 20px;
    color: #000;
    padding-right: 20px;
}

#box {
    flex: 1;
    padding: 16px 46px;
    height: auto;
    box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.works {
    padding-bottom: 20px;
}

#box p {
    font-family: LINESEED;
    font-weight: bold;
    font-size: 20px;
    color: #960021;
    /* padding: 20px 0 0 40px; */
}

.line hr {
    border: 0.5px solid #bbb;
}

.pf img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.works h1 {
    font-family: LINESEED;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-bottom: 0;
}

.fa-ellipsis {
    font-size: 25px;
}

.works h2 {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 16px;
    color: black;
    padding: 10px 0;
}

.work1 img {
    width: 100%;
    height: 630px;
}

.works h3 {
    font-family: LINESEED;
    font-weight: bold;
    font-size: 16px;
    color: black;
    padding: 10px 0;
}

.works h4 {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 16px;
    color: black;
}

.star {
    display: flex;
    gap: 10px;
    /* padding-left: 23px; */
}

.star1 {
    font-size: 22px;
    color: #000;
    display: flex;
    gap: 10px;
    align-items: center;
}

.star1 h1 {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 16px;
    color: black;
    margin: 0;
}

.comment {
    font-size: 22px;
    color: black;
    display: flex;
    gap: 10px;
    align-items: center;
}

.comment h5 {
    margin: 0;
}

.works h5 {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 16px;
    color: black;
}

.bookmark {
    font-size: 22px;
    color: black;
}

.line1 hr {
    border: 0.5px solid #bbb;
}

.work2 img {
    width: 100%;
    height: 575px;
    margin: 20px 0 0 40px;
}

.fa-ellipsis {
}

/* footer */

#footer {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    background-color: black;
}

.box-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 50px;
    /* align-content: center; */
    /* margin-top: 50px; */
    /* margin-left: 100px; */
}

.help-ft {
    margin-top: 70px;
}

.help-ft p {
    font-family: LINESEED;
    font-weight: bold;
    font-size: 20px;
    color: white;
    /* padding-top: 50px; */
}

.help-ft h1 {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    margin-top: 30px;
    /* padding-top: 26px; */
}

.abt-us {
    margin-top: 70px;
}

.abt-us img {
    width: 69px;
    height: auto;
    float: left;
    /* margin-left: 408px; */
    /* margin-top: -80px; */
}

.abt-us h6 {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    margin-top: 30px;
    /* padding-top: -20px; */
}

.abt-us h3 {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    margin-top: 30px;
    /* padding-top: 20px; */
    /* float: left; */
}

.newsletter {
    margin-top: 45px;
}

.newsletter h4 {
    font-family: LINESEED;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-top: 30px;
}

#signup {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    margin-top: 30px;
}

#username {
    width: 253px;
    height: 30px;
    border: none;
    border-radius: 50px;
    color: #979797;
    font-family: LINESEED;
    font-size: 16px;
    margin-top: 10px;
    padding-left: 20px;
    /* background-color: none; */
}

#search {
    width: 253px;
    height: 30px;
    /* background-color: white; */
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    color: #979797;
    font-family: LINESEED;
    font-size: 16px;
    margin-top: 70px;
}

.fa-search {
    color: black;
    font-size: 16px;
    /* margin-left: 1315px; */
    /* margin-top: -117px; */
    /* float: left; */
}

.fa-search:hover {
    color: #960021;
    cursor: pointer;
    transition: 0.5s;
}

.copyright h5 {
    font-family: LINESEED;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    text-align: center;
    /* margin-left: 100px; */
    margin-top: 45px;
}

.work .post:nth-child(n+2) {
    aspect-ratio: 1/1;
}

@media (max-width: 575.98px) {
    .abtme h6{
        font-size: 16px;
    }
    .abtme h5{
        font-size: 16px;
    }
    .abtme{
        margin-top: -60px;
    }
    #box {
        padding: 16px 16px;
    }
    .abtme p{
        font-size: 16px;
    }
    .profile img{
        width: 100px;
        height: 100px;
    }
    .star i{
        font-size: 16px;
    }
    #content .btn{
         font-size: 12px;
    }
    #box p{
        font-size:14px
    }
    .pf img{
        width: 40px;
        height: 40px;
    }
    .works h1{
        font-size: 16px;
    }
    .fa-ellipsis{
        font-size: 16px;
    }
}